@using Task = MSSA.Canvas_Your_Goals.Models.Task
@model TaskListViewModel

@{
    ViewData["Title"] = "Task List";
}

<header> <partial name="LoggedInNav" /> </header>
<h3 class="bg-primary text-white m-2 p-2"> @ViewData["Title"] </h3>

<table class="centered table-bordered table-striped table-sm">
    <tr>
        <th>Task</th>
        <th>Order</th>
        <th>Status</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Manage Steps</th>
    </tr>
    
@foreach (Task item in Model.Tasks)
{
    <tr>
        <td>
            <a asp-controller="Task" asp-action="Details" asp-route-taskId="@item.TaskId">
                @item.TaskName
            </a>
        </td>
        <td> @item.TaskOrder </td>
        <td> @item.Status </td>
        <td> @item.StartDate </td>
        <td> @item.EndDate </td>
        <td> <a asp-controller="Step" asp-action="Index" asp-route-taskId="@item.TaskId"> This Task's Steps </a> </td>
    </tr>
}
    <tr>
        <td colspan="6">
            <a asp-controller="Task" asp-action="Add">Add New Task! </a>
            <span 
                page-model="@Model.PagingInfo"
                page-action="Index"
                page-class-enabled="true"
                page-class="btn"
                page-class-normal="btn-outline-dark"
                page-class-selected="btn-primary"
                class="btn-group m-1 float-right">
            </span>
        </td>
    </tr>
</table>