@using Task = MSSA.Canvas_Your_Goals.Models.Task
@model Goal

@{
    ViewData["Title"] = "Goal Details";
}

<header> <partial name="LoggedInNav" /> </header>
<div class="flex-row justify-content-center">
<fieldset class="flex-div shadow">
    <legend> @ViewData["Title"] </legend>
    <table class="table-bordered table-striped table-sm">
        <tbody>
            <tr>
                <th class="pr-1"> Goal Name: </th>
                <td class="pl-1"> @Model.GoalName </td>
            </tr>
            <tr>
                <th class="pr-1"> Priority: </th>
                <td class="pl-1"> @Model.Priority </td>
            </tr>
            <tr>
                <th class="pr-1"> Status: </th>
                <td class="pl-1"> @Model.Status </td>
            </tr>
            <tr>
                <th class="pr-1"> Type: </th>
                <td class="pl-1"> @Model.Type </td>
            </tr>
            <tr>
                <th class="pr-1"> Start Date: </th>
                <td class="pl-1"> @Model.StartDate.ToString("MM/dd/yyyy") </td>
            </tr>
            <tr>
                <th class="pr-1"> End Date: </th>
                <td class="pl-1"> @Model.EndDate?.ToString("MM/dd/yyyy") </td>
            </tr>
            <tr>
                <th class="pr-1"> Details: </th>
                <td class="pl-1"> @Model.Details </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-center" colspan="2">
                    <a class="btn btn-info ml-1 mr-1" asp-controller="Goal" asp-action="Index" asp-route-userId="@Model.UserId">
                        Back
                    </a>
                    <a class="btn btn-warning ml-1 mr-1" asp-controller="Goal" asp-action="Edit" asp-route-goalId="@Model.GoalId">
                        Edit
                    </a>
                    <a class="btn btn-danger ml-1 mr-1" asp-controller="Goal" asp-action="Delete" asp-route-goalId="@Model.GoalId">
                        Delete
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
</fieldset>

<fieldset class="flex-div shadow">
    <legend> Tasks for: @Model.GoalName </legend>
    <table class="table-bordered table-striped table-sm">
        <thead>
            <tr>
                <th class="pr-1 text-center"> Task </th>
                <th class="pr-1 text-center"> Order </th>
                <th class="pr-1 text-center"> Status </th>
                <th class="pr-1 text-center"> Start Date </th>
                <th class="pr-1 text-center"> End Date </th>
                <th class="pr-1 text-center"> Details </th>
            </tr>
        </thead>
        <tbody>
        @foreach (Task task in Model.Tasks)
        {
            <tr>
                <td class="pr-1 text-center"> @task.TaskName </td>
                <td class="pr-1 text-center"> @task.TaskOrder </td>
                <td class="pr-1 text-center"> @task.Status </td>
                <td class="pr-1 text-center"> @task.StartDate </td>
                <td class="pr-1 text-center"> @task.EndDate </td>
                <td class="pr-1 text-center">
                    <a asp-controller="Task" asp-action="Details" asp-route-taskId="@task.TaskId" class="btn btn-sm btn-outline-info ml-1 mr-1">
                        View
                    </a>
                </td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6">
                    <a asp-controller="Task" asp-action="Add" asp-route-goalId="@Model.GoalId" class="btn btn-outline-info ml-1 mr-1">Create New Task! </a>
                    @*
                    <span
                        page-model="@Model.PagingInfo"
                        page-action="Index"
                        page-class-enabled="true"
                        page-class="btn"
                        page-class-normal="btn-outline-dark"
                        page-class-selected="btn-primary"
                        class="btn-group m-1 float-right">
                    </span>
                    *@
                </td>
            </tr>
        </tfoot>
    </table>
</fieldset>
</div>