@model Goal

@{
    ViewData["Title"] = "Edit Goal";
}

<fieldset class="shadow centered">
    <legend> @ViewData["Title"] </legend>
    <form method="post">
        <input asp-for="GoalId" type="hidden" />
        <input asp-for="UserId" type="hidden" />
        <input asp-for="VisionBoardId" type="hidden" />
        <table class="table-bordered table-striped table-sm">
            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <thead>
                    <tr>
                        <td colspan="2">
                            <div asp-validation-summary="All"> </div>
                        </td>
                    </tr>
                </thead>
            }
            <tbody>
                <tr>
                    <th>Goal Name:</th>
                    <td>
                        <input asp-for="GoalName" />
                    </td>
                </tr>
                <tr>
                    <th>Priority:</th>
                    <td>
                        <select asp-for="Priority">
                            <option value=""> @Model.Priority </option>
                            <option value="Highest">Highest</option>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Status:</th>
                    <td>
                        <select asp-for="Status">
                            <option value=""> @Model.Status </option>
                            <option value="Finished">Finished</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Problem">Problem</option>
                            <option value="Waiting">Waiting</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Type:</th>
                    <td>
                        <select asp-for="Type">
                            <option value=""> @Model.Type </option>
                            <option value="Education">Education</option>
                            <option value="Health">Health</option>
                            <option value="Location">Location</option>
                            <option value="Income">Income</option>
                            <option value="Personal">Personal</option>
                            <option value="Professional">Professional</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>Start Date:</th>
                    <td> <input asp-for="StartDate" type="date" /> </td>
                </tr>
                <tr>
                    <th>End Date:</th>
                    <td> <input asp-for="EndDate" type="date" /> </td>
                </tr>
                <tr>
                    <th>Details:</th>
                    <td> @Html.EditorFor(model => model.Details) </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center" colspan="2">
                        <input class="btn btn-primary ml-1 mr-1" type="submit" value="Submit!" />
                        <!--
                        <a class="btn btn-primary ml-1 mr-1" type="submit" asp-controller="Goal" asp-action="Details">
                            Save
                        </a>
                        -->
                        <a class="btn btn-secondary ml-1 mr-1" asp-controller="Goal" asp-action="Details" asp-route-goalId="@Model.GoalId">
                            Cancel
                        </a>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
</fieldset>