@model GoalListViewModel

@{
    ViewData["Title"] = "Goal List";
}
<body>
    <h2> @ViewData["Title"] </h2>
    <hr />
    
    <table class="centered table-bordered table-striped table-sm">
        <tr>
            <th>Goal</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Type</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    @foreach (Goal item in Model.Goals)
    {
        <tr>
            <td>
                <a asp-controller="Goal" asp-action="Details" asp-route-goalId="@item.GoalId">
                    @item.GoalName
                </a>
            </td>
            <td> @item.Priority </td>
            <td> @item.Status </td>
            <td> @item.Type </td>
            <td> @item.StartDate?.ToString("MM/dd/yyyy") </td>
            <td> @item.EndDate?.ToString("MM/dd/yyyy") </td>
        </tr>
    }
        <tr>
            <td colspan="6">
                <a asp-controller="Goal" asp-action="Add"> Add a new Goal! </a>
            </td>
        </tr>
    </table>
    <span 
        page-model="@Model.PagingInfo"
        page-action="Index"
        page-class-enabled="true"
        page-class="btn"
        page-class-normal="btn-outline-dark"
        page-class-selected="btn-primary"
        class="btn-group m-1">
    </span>
</body>