@model IQueryable<Goal>

@{
    ViewData["Title"] = "Goal List";
}

<header> <partial name="LoggedInNav" /> </header>
<h3 class="bg-primary text-white m-2 p-2"> @ViewData["Title"] </h3>

<table class="centered table-bordered table-striped table-sm">
    <tr>
        <th>Goal</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Type</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Manage Tasks</th>
    </tr>
    
@foreach (Goal item in Model)
{
    <tr>
        <td>
            <a asp-controller="Goal" asp-action="Details" asp-route-goalId="@item.GoalId">
                @item.GoalName
            </a>
        </td>
        <td> @item.Priority </td>
        <td> @item.Status </td>
        <td> @item.Type </td>
        <td> @item.StartDate?.ToString("MM/dd/yyyy") </td>
        <td> @item.EndDate?.ToString("MM/dd/yyyy") </td>
        <td> <a asp-controller="Task" asp-action="Index" asp-route-goalId="@item.GoalId"> This Goal's Tasks </a> </td>
    </tr>
}
    <tr>
        <td colspan="7">
            <a asp-controller="Goal" asp-action="Add">Register New Goal!</a>
            @*
            <span
                page-model="@Model.PagingInfo"
                page-action="Index"
                page-class-enabled="true"
                page-class="btn"
                page-class-normal="btn-outline-dark"
                page-class-selected="btn-primary"
                class="btn-group m-1 float-right">
            </span>
            *@
        </td>
    </tr>
</table>